<%= link_to "New Mentee", new_mentee_path %>
<br>
<br>
<h2>Mentees</h2>
<br>
<ul>
  <% @mentees.each do |mentee| %>
    <li><%= link_to mentee.name, mentee %> |
      Email: <%= mentee.email %>
      <% if mentee.goal != "" %>
        | Goal: <%= mentee.goal %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>

